.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 0.7;
  margin-bottom: 3.125rem;
  position: relative;
}

.skills > .skills-title-1 {
  font-size: 1.5rem;
  color: #6290c3;
}

.skills > .skills-title-2 {
  font-size: 1.875rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 55rem;
}

.skills-list > .skill {
  margin: 10px 45px;
}

.skills-list > .skill > p {
  font-weight: 500;
  font-size: 1.2rem;
}

